.amenity-requests-admin {
    padding: 20px;
  }
  
  .amenity-requests-admin table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .amenity-requests-admin th, td {
    left: 37%;
    padding: 20px;
    position: absolute;
    top: 19%;
  }
  
  .amenity-requests-admin button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  