
.feedback-spinner {
    position: fixed;
    top: 350px;
    left: 750px;
    transform: translate(-50%, -50%);
    border: 6px solid #f3f3f3;
    border-top: 6px solid #366e39;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    z-index: 1000; 
  }

/* Feedback Container */
.feedback-container {
    padding: 20px;
    margin: 20px;
    top: 5% ;
    position: relative;
    width: 1180px;
    right: 7%;
    font-family: 'Inter', sans-serif;
}

.feedback-header {
    font-size: 1.8rem;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 2px solid#bf9e1b;
}

/* Feedback Table */
.feedback-table {
    margin-top: 2%;
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.feedback-table thead {
    background-color: #3498db;
    color: #ffffff;
}

.feedback-table th {
    background-color: #366e39;
    color: #ffffff;
    padding: 12px 15px;
    text-align: center;
}

.feedback-table td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* Highlight Even Rows */
.feedback-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Table Row Hover Effect */
.feedback-table tr:hover {
    background-color: #f1f1f1;
}

.feedback-table a:hover {
    text-decoration: underline;
}