.admin-gallery {
  padding: 20px;
  margin-top: 3%;
}

h2 {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 10%;
}

.form-row {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  gap: 60px;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.upload-action {
  background-color: #f1c40f;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 2%;
}

.upload-action:hover {
  background-color: rgb(235, 218, 40);
}

/* Gallery Grid */
.gallery-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
}

.gallery-card {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  padding: 15px;
  background: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.gallery-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.gallery-actions {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.edit-action {
  background-color: #34495e;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.edit-action:hover {
  background-color: #3a72af;
}

.delete-action {
  background-color: #9c0005;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.delete-action:hover {
  background-color: #c10a0a;
}
